html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.num-wrapper {
    font-size: 40px;
}

.n-red {
    color: #8d0606;
}

.n-green {
    color: #076407;
}